.custom-control-input:active~.custom-control-label:before {
    color: #fff;
    background-color: #646798 !important;
    box-shadow: none;
}
body{
  background: url(assets/paper.jpg);
  font-size: .875rem;
}
.height-50 {
  /* height: 50vh; */
}
.thumb{
  /* width:800px; */
  max-height:618px;
}
.text-container {
  padding: 0 20% 0 20%;
}
.btn{
  margin:5px;
  border-radius: 0;
}
.btn-primary {
  color:#3b5998 !important;
  background:#3b5998;
  border-color:#3b5998;
}
.btn-primary:hover {
  background:#2F4779;
  border-color:#2F4779;
}

.btn-purple {
  color: #646798;
  background-color: #f5b55b;
  border-color: #f5b55b;
}
.btn-purple:hover {
  color: #646798;
  background-color: #F4AE4D;
  border-color: #F4AE4D;
}
.btn-purple:focus,.btn-purple.focus, .btn-purple:active,.btn-purple.active {
   box-shadow: 0 0 0 3px rgba(245,181,91,.5);
 }
.prompt {
  padding-bottom:1.5rem;
}
.form-control {
  margin-bottom: 5px;
}
.form-control:focus {
  border-color: #646798 !important;
}

.row-top {
  padding-top:5rem;
}
.navbar-brand .ripple-container {
  display: none;
}
#icon {
  /* width:16px;
  height:16px; */
  border-radius: 100%;
  /* background:#f5b55b; */
  padding:10px;
  margin:15px;
  position: fixed; bottom: 0px; right: 0px;
}
#icon i {
  width:15px;
  height:15px;
}
.navbar {
  /* background:white; */
  box-shadow: none;
}
