.custom-control-input:active~.custom-control-label:before {
    color: #fff;
    background-color: #646798 !important;
    box-shadow: none;
}
body{
  background: url(assets/paper.jpg);
  font-size: .875rem;
}
.height-50 {
  /* height: 50vh; */
}
.thumb{
  /* width:800px; */
  /* max-height:618px; */
  max-height:500px;
}
.text-container {
  padding: 0 20% 0 20%;
}
.btn{
  margin:5px;
  border-radius: 0;
}
.btn-primary {
  color:#3b5998 !important;
  background:#3b5998;
  border-color:#3b5998;
}
.btn-primary:hover {
  background:#2F4779;
  border-color:#2F4779;
}
#logo {
width:500px;
height:auto;
z-index: 4;
}
#logo img{
  width: inherit;
  height:inherit;
}
#tumbleweed {
	width:100px;
	height:100px;
  top:100px;
	position:absolute;
	animation: float .5s ease-in-out infinite;
  z-index: 2;
}
#shrub2 {
  position: absolute;
  top:0;
  left:0;
  width:250px;
  height:auto;
  z-index: 1;
}
#shrub2 img {
  padding:3vh;
  width:inherit;
  height:inherit;
}
#shrub1 {
  position: absolute;
  bottom:0;
  right:0;
  width:300px;
  height:auto;
  z-index: 3;
}
#shrub1 img {
  margin-bottom:10vh;
  margin-right:10vh;
  width:inherit;
  height:inherit;
}

#tumbleweed img {
	width: inherit;
	animation: rotate 5s ease-in-out infinite;
	height:inherit;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.btn-purple {
  color: #646798;
  background-color: #f5b55b;
  border-color: #f5b55b;
}
.btn-purple:hover {
  color: #646798;
  background-color: #F4AE4D;
  border-color: #F4AE4D;
}
.btn-purple:focus,.btn-purple.focus, .btn-purple:active,.btn-purple.active {
   box-shadow: 0 0 0 3px rgba(245,181,91,.5);
 }
.prompt {
  padding-bottom:1.5rem;
}
.form-control {
  margin-bottom: 5px;
}
.form-control:focus {
  border-color: #646798 !important;
}

.row-top {
  padding-top:5rem;
}
.navbar-brand .ripple-container {
  display: none;
}
#icon {
  /* width:16px;
  height:16px; */
  border-radius: 100%;
  /* background:#f5b55b; */
  padding:10px;
  margin:15px;
  position: fixed; bottom: 0px; right: 0px;
}
#icon i {
  width:15px;
  height:15px;
}
.navbar {
  /* background:white; */
  box-shadow: none;
}
